:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #213547;
  background-color: #E8E8E4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 780px;
  min-height: 90vh;
  padding: 5vh 40px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F9F9F9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #D8E2DC;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
